<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>VueManyApps</title>

	<link rel="stylesheet" type="text/css" href="lib/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="lib/vue.js"></script>
	<script type="text/javascript" src="lib/simpleStorage.js"></script>
</head>
<body>

	<script type="text/x-template" id="todo-template">
		<div>
			<header id="todo-header">
				<div>
					<h2>To-do App</h2><small>Powered by Vue.js</small>
				</div>
				<button class="delete-btn delete-all-btn" @click="deleteChecked">
					Delete all checked
				</button>
			</header>
			<ul id="todos-list">
				<div v-for="item in todos" class="todo">
					<div class="todo-container">
						<div v-show="!item.editing" class="todo-text">
							<li :class="{'todo-checked': item.done}" >
								<input type="checkbox" :id="'todo' + item.id" v-model="item.done" @click="saveTodos()"/>
      							<label :for="'todo' + item.id" class="todo-text">{{item.text}}</label>
							</li>
						</div>
						<div v-show="item.editing">
							<input type="text" v-model="item.text" @keydown.enter="toggleEdit(item)">
						</div>
					</div>
					<div class="todo-panel">
						<button class="edit-btn" v-show="!item.editing" @click="toggleEdit(item)">Edit</button>
						<button class="delete-btn" @click='deleteTodo(item.id)'>Delete</button>
					</div>
				</div>
			</ul>

			<form @submit.prevent="addTodo" id="new-todo-form">
				<div>
					<label for="addTodo">Add a Todo</label>
					<input type="text" v-model="newTodo" id="addTodo">
				</div>
				<button type="submit">+</button>	
			</form>
		</div>
	</script>

	<script type="text/x-template" id="ttt-template">
		<div>
			<h2>Tic Tac Toe</h2>
			<div id="ttt-wrapper">
				<div id="ttt-board">
					<div v-for="rowN in rowsAndCols" class="game-row">
						<div v-for="colN in rowsAndCols" @click="putPieceAt(rowN,colN)" class="game-square">
							<span :class="symbolClass(board[rowN][colN])">{{board[rowN][colN]}}</span>
						</div>
					</div>
				</div>

				<div id="ttt-info-panel">
					<div>
						<p>Current Turn: <span :class="symbolClass(turnSymbol)">{{turnSymbol}}</span></p>
					</div>

					<div v-if="gameFinished">
						<span :class="symbolClass(winnerSymbol)">
							{{winnerSymbol}} won!
						</span>
					</div>
					<button @click="resetGame">Reset</button>
				</div>
			</div>
		</div>
	</script>	

	<script type="text/x-template" id="calculator-template">
		<div>
			<h2>Calculator</h2>
			<div id="result">
				<input type="text" v-model="currentCalc" @keydown.enter="equalTo" id="calc-bar">
				<p v-hidden="!errorShow">{{errorMsg}}</p>
			</div>
			<div id="calc-buttons">
				<div class="calc-button" @click="addSymbol($event)">7</div>
				<div class="calc-button" @click="addSymbol($event)">8</div>
				<div class="calc-button" @click="addSymbol($event)">9</div>
				<div class="calc-button" @click="equalTo">=</div>
				<div class="calc-button" @click="deleteLast"><-</div>

				<div class="calc-button" @click="addSymbol($event)">4</div>
				<div class="calc-button" @click="addSymbol($event)">5</div>
				<div class="calc-button" @click="addSymbol($event)">6</div>
				<div class="calc-button" @click="addSymbol($event)">+</div>
				<div class="calc-button" @click="clearEverything">CE</div>

				<div class="calc-button" @click="addSymbol($event)">1</div>
				<div class="calc-button" @click="addSymbol($event)">2</div>
				<div class="calc-button" @click="addSymbol($event)">3</div>
				<div class="calc-button" @click="addSymbol($event)">-</div>
				<div class="calc-button" @click="addSymbol($event)">^</div>

				<div class="calc-button" @click="addSymbol($event)">.</div>
				<div class="calc-button" @click="addSymbol($event)">0</div>
				<div class="calc-button" @click="addSymbol($event)">/</div>
				<div class="calc-button" @click="addSymbol($event)">*</div>
				<div class="calc-button" @click="addParentheses">{{currentParentheses}}</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="app-list-template">
		<div id="app-list">
			<h2>Available Apps</h2>
			<ul>
				<li v-for="(app, codename) in appList" @click="changeApp(codename)" class="available-app">
					{{app}}
				</li>
			</ul>
		</div>
	</script>	

	<div id="main-app">		
		<header id="main-app-header">
			<button v-hidden="currentView === 'appList'"  @click="backToList()">
				Back			
			</button>
		</header>
		<component :is="currentView" @update:current-view="new_value => currentView = new_value" id="main-container">
		</component>
	</div>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>