<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>TicTacVue</title>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	
	<main id="ticTacVue">
		<div v-for="rowN in rowsAndCols" class="gameRow">
			<div v-for="colN in rowsAndCols" @click="putPieceAt(rowN,colN)" class="gameSquare">
				<span :class="board[rowN][colN] + 'Square'">{{board[rowN][colN]}}</span>
			</div>
		</div>

		<div>
			<span>Current Turn: {{turnSymbol}}</span>
		</div>

		<div v-if="gameFinished">
			<span>
				{{winnerSymbol}} won!
			</span>
		</div>
	</main>

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>